# Ignorar arquivos binários gerados durante a compilação
*.exe
*.o
*.obj
*.out
*.pdb

# Ignorar arquivos temporários ou de cache
*.bak
*.swp
*.tmp

# Ignorar diretórios específicos de IDEs ou editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar arquivos específicos de sistema operacional (Windows)
Thumbs.db
desktop.ini

# Outros arquivos que podem ser específicos para seu projeto
*.log
